{% extends 'index.html' %}
{% block content %}
        <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="error-wrap">
                  <div class="error-title">
                    404 • Sahifa topilmadi
                  </div>
                  <p class="fs-15">
                    Qandaydir muammo yuz berdi. Qaytadan tekshirib ko'ring...
                  </p>
    
                  <div class="search-container">
                    <input type="text" placeholder="Qidirish.." name="search" />
                    <button type="submit"><i class="mdi mdi-magnify"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock content %}
 