{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="card" data-aos="fade-up">
              <div class="card-body">
                <div class="aboutus-wrapper">
                  <h1 class="mt-5">
                    Biz haqimizda
                  </h1>
                  <p class="font-weight-600 fs-15">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid commodi dolor modi consequatur eveniet magnam voluptatum, ad hic quod. Aspernatur consequatur error labore id tenetur doloribus! Amet nobis nihil consequuntur reprehenderit consequatur illo temporibus architecto beatae dignissimos fuga blanditiis, eveniet perspiciatis animi aliquid, doloremque error? Repellendus itaque nulla quam ad!
                  </p>
                  <p class="font-weight-600 fs-15 mb-5 mt-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nulla suscipit ad magni? Nemo a aut, perferendis, hic corporis non distinctio libero, sapiente voluptates ipsum consectetur aperiam labore sunt eos quia! Quisquam asperiores inventore qui illum amet repudiandae placeat omnis eum libero provident suscipit incidunt sunt sint ipsum, recusandae temporibus!
                  </p>
              

                  <p class="font-weight-600 fs-15 d-flex">
                    <img
                    src="{% static '/assets/images/faces/face1.jpg' %}"
                    alt="banner"
                    class="img-fluid mb-5 mr-4"
                  />
                    He has led a remarkable campaign, defying the traditional
                    mainstream parties courtesy of his En Marche! movement.
                    For many, however, the campaign has become less about
                    backing Macron and instead about voting against Le Pen,
                    the National Front candidate.
                  </p>
                  <p class="font-weight-600 fs-15 mb-5 mt-4">
                    He has led a remarkable campaign, defying the traditional
                    mainstream parties courtesy of his En Marche! movement.
                    For many, however, the campaign has become less about
                    backing Macron and instead about voting against Le Pen,
                    the National Front candidate.
                  </p>
                  <p class="font-weight-600 fs-15 d-flex">
                    
                    He has led a remarkable campaign, defying the traditional
                    mainstream parties courtesy of his En Marche! movement.
                    For many, however, the campaign has become less about
                    backing Macron and instead about voting against Le Pen,
                    the National Front candidate.
                    <img
                    src="{% static '/assets/images/faces/face1.jpg' %}"
                    alt="banner"
                    class="img-fluid mb-5 ml-4"
                  />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container-scroller ends -->
    <!-- partial:../partials/_footer.html -->
    {% endblock content %}
 