{% extends 'index.html' %}
{% load static %}
{% block content %}
        <div class="content-wrapper">
          <div class="container">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="row">
                    
                    <div class='col-lg-8' >
                      {% for new in news|slice:"2" %}
                      <div>
                        <a href="{% url 'zarafshon:detail' new.slug %}" class="font-weight-600 mb-1 text-decoration-none text-dark">
                          {{new.title}}
                        </a>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">{{new.type}} </span>{{new.created|timesince}} ago
                        </p>
                        <div class="rotate-img">
                          <img
                            src="{{new.file.url}}"
                            alt="banner"
                            class="img-fluid mt-4 mb-4"
                          />
                        </div>
                        <p class="mb-4 fs-15 mt-2">
                          {{new.descriptions|truncatechars:100}}
                        </p>
                      </div>
                      {% endfor %}
                    </div>
                    
                    <div class="col-lg-4 top-0">
                      <h2 class="mb-4 text-primary font-weight-600">
                        Latest news
                      </h2>
                      {% for new in news|slice:"2" %}
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="border-bottom pb-4 pt-4">
                              <div class="row">
                                <div {% if new == news.0 %}class="col-sm-8"{% endif %} >
                                  <a href="{% url 'zarafshon:detail' new.slug %}" class="font-weight-600 mb-1 text-dark text-decoration-none h5">
                                    {{new.title}}
                                  </a>
                                  <p class="fs-13 text-muted mb-0">
                                    <span class="mr-2">{{new.type}} </span>{{new.created|timesince}} ago
                                  </p>
                                </div>
                                <div class="col-sm-4">
                                  <div class="rotate-img">
                                    <img
                                      src="{{new.file.url}}"
                                      alt="banner"
                                      class="img-fluid"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                      <div class="trending">
                        <h2 class="mb-4 text-primary font-weight-600">
                          Trending
                        </h2>
                        <div class="mb-4">
                          <div class="rotate-img">
                            <img
                              src="{% static '/assets/images/inner/inner_2.jpg' %}"
                              alt="banner"
                              class="img-fluid"
                            />
                          </div>
                          <h3 class="mt-3 font-weight-600">
                            Virus Kills Member Of Advising Iran’s Supreme
                          </h3>
                          <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Photo </span>10 Minutes ago
                          </p>
                        </div>
                        <div class="mb-4">
                          <div class="rotate-img">
                            <img
                              src="{% static '/assets/images/inner/inner_2.jpg' %}"
                              alt="banner"
                              class="img-fluid"
                            />
                          </div>
                          <h3 class="mt-3 font-weight-600">
                            Virus Kills Member Of Advising Irans Supreme
                          </h3>
                          <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Photo </span>10 Minutes ago
                          </p>
                        </div>
                        <div class="mb-4">
                          <div class="rotate-img">
                            <img
                              src="{% static '/assets/images/inner/inner_2.jpg' %}"
                              alt="banner"
                              class="img-fluid"
                            />
                          </div>
                          <h3 class="mt-3 font-weight-600">
                            Virus Kills Member Of Advising Iran’s Supreme
                          </h3>
                          <p class="fs-13 text-muted mb-0">
                            <span class="mr-2">Photo </span>10 Minutes ago
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="content-wrapper">
          <div class="container">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <h1 class="font-weight-600 mb-4">
                        Maqolalar
                      </h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8">
                      {% for maqola in maqolas %}
                        <div class="row">
                          <div class="col-sm-4 grid-margin">
                            <div class="rotate-img">
                              <img
                                src="{{maqola.file.url}}"
                                alt="banner"
                                class="img-fluid"
                              />
                            </div>
                          </div>
                          <div class="col-sm-8 grid-margin">
                            <a href="{% url 'zarafshon:detail' maqola.slug %}" class="font-weight-600 mb-2 text-decoration-none text-dark ">
                              {{maqola.title}}
                            </a>
                            <p class="fs-13 text-muted mb-0">
                              <span class="mr-2">{{maqola.type}} </span>{{maqola.created|timesince}} ago
                            </p>
                            <p class="fs-15">
                              {{maqola.description}}
                            </p>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- main-panel ends -->
        <!-- container-scroller ends -->

        <!-- partial:../partials/_footer.html -->
{% endblock content %}  
